<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="park.base.mybatis.plus.mapper.TWcDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="park.base.mybatis.plus.entity.TWcDetail">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
        <result column="wc_id" property="wcId" />
        <result column="is_repair" property="isRepair" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, create_time, wc_id, is_repair, is_del
    </sql>

</mapper>
